target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.run
.jpb
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.jpb/jpb-settings.xml

### ENV ###
.env
*.env
!sample.env
!*sample.env

### META-INF ###
src/main/resources/META-INF/

### dependency-reduced maven shaded ###
dependency-reduced-pom.xml
